@using DemoHaber.Models
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/AdminTaslak.cshtml";
}

<form method="post" class="form-group mt-4">
    <center>
        <input name="KategoriAd" placeholder="Kategori Adını Giriniz." /><br />
        <input type="submit" value="Ekle" class="btn btn-primary mt-4" />
    </center>
</form>
